root{
  --font-family: 'Arial', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #F9A8A8;
}

.logo {
  font-family: "Ingrid Darling", cursive;
  color: #ffffff;
  font-size: 28px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
}

.abrir-menu, .cerrar-menu{
  display:none;
}

@media (max-width: 840px) {
  .abrir-menu, .cerrar-menu{
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }

  .nav{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #cd8888; /*probar #825771, #cd8888 o #F9A8A8*/
    padding: 3rem;
    bottom: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 50;
  }

  .nav.visible{
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .cerrar-menu{
    display: block;
  }

}

body {
  margin: 0;
  height: 60%;
  display: grid;
  grid-template-rows: auto 480px 1fr auto;
  background-color: #825771;
  grid-template-rows: 3;

}

  .product-content{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
.product-1 img {
    width: 40%;
    align-items: center;
    padding: 1rem;
    /*background-color: #f1948a; */
    border-radius: 150px;
    height: auto;
    filter: brightness(75%);
}
.product-txt{
    background-color: #f1948a;
}
/*
.product-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* dos columnas iguales
    gap: 20px;
    align-items: center;
    padding: 1rem;
  }*/


  #services{
    grid-template-rows: 3;
    align-items: center;
  }
  footer {
    text-align: center;
    padding: 2rem;
    background-color: #f1948a;
    color: white;
}
.mitexto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
}
.imagen {
  position: relative;
  text-align: center;
  color: white;
  padding: 1rem;
}
button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #ffffff;
}

button {
  font-family: system-ui, sans-serif;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #f1948a; 
}
/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000- - -LOADER */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(Image/LoaderBackground.webp);
  background-size: cover;
  background-position:top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #ffffff;
}

.spinner{
  border: 6px solid #ffe4e1;
  border-top: 6px solid #ff69b4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  0% { transform: rotate(0deh);}
  100% { transform: rotate(360deg);}
}

body.loading {
  overflow: hidden;
  height: 100vh;
}
/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */



a {
  font-family: system-ui, sans-serif;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #f1948a; /*#f1948a*/
}

a:hover{
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  background-color:#b06d66 ;
}